<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="BrowserGame Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">php</directory>
        </include>
        <exclude>
            <file>php/phpterminal.php</file>
        </exclude>
    </coverage>
    <logging>
        <junit outputFile="tests/results/junit.xml"/>
    </logging>
</phpunit>